///section About

.section {
  margin-bottom: 50px;
}

.section__header {
  @extend %clearfix;
  margin-bottom: 90px;
}

.section__title-wrap {
  @include span(4);
}

.section__title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.section__title-first {
  color: $blue;
}

.section__title-second {
  color: $orange;
}

.section__title-add {
  color: $grey;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.section__descr {
  @include span(7 last);
  padding-top: 50px;
  position: relative;

  &:before {
    width: 6px;
    height: 60px;
    content: "";
    background: $blue;
    transform: skewX(-20deg);
    position: absolute;
    top: 35px;
    left: -50px;
  }

    &:after {
      width: 2px;
      height: 90px;
      content: "";
      background: $orange;
      padding-left: 2px;
      padding-top: 10px;
      background-clip: content-box;
      border-left: 2px solid $blue;

      transform: skewX(-20deg);
      position: absolute;
      top: 10px;
      left: -62px;
    }
}

.main-text {
  color: $grey;
  font-size: 16px;
  font-weight: 400;
}

.section__subtitle {
  text-align: center;
  color: #666;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section__text {
  width: span(8);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.skills__list {
  @extend %clearfix;
}

.skills__item {
  @include gallery(3);
  margin-bottom: gutter()*4;
}

.skills__title {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.skills__descr {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.skills__diagram {
  width: 145px;
  height: 145px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}

.diagram-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 700;
  margin-left: 5px;
}

.circle {
  fill: transparent;
  stroke: #eaeaea;
  stroke-width: 5;
/*       stroke-dasharray: 101 100; */
}

.circle-diagrams {
  fill: transparent;
  stroke: $blue;
  stroke-width: 5;
}

.skills__diagram svg {
  width: 150px; height: 150px;
  transform: rotate(-70deg);
  background: transperent;
  border-radius: 50%;
}

