///adaptive

@include laptop { ///laptops 992

  .container {
    width: 100%;
  }

  .nav {
    @include span(10 last);
  }

  .about {
    margin-bottom: 0;
  }

  .skills__item {
    @include gallery(6);
  }

  .tilted {
    bottom: 150px;
  }

  .team__item {
    @include gallery(6);
  }

  .services__item {
    @include span(8);
    margin-left: span(2) !important;
    margin-right: 0 !important;
  }

}

@include tablets { ///tablets 768

  .nav {
    @include span(11 last);
  }

  .section__title-wrap {
    // @include span(12);
    width: span(12);
    text-align: center;
  }

  .section__descr {
    @include span(9 last);
    margin-left: span(2) + gutter();
  }

  .tilted {
    bottom: 140px;
  }

  .services__item {
    @include span(9);
    margin-left: span(2) !important;
    margin-right: 0 !important;
  }

  .facts__item {
    @include gallery(6);
    margin-bottom: gutter()*6;
  }

}

@include phones { ///phones 568

  .logo {
    @include span(2 of 12);
  }

  .nav {
    @include span(10 last);
    padding-top: 0;
  }

  .nav li{
    @include gallery(6 of 12 after);
    margin-bottom: gutter(6);
  }

  .top-bar {
    margin-bottom: 40px;
  }

  .slogan, .logo-big {
    margin-bottom: 30px;
  }

  .promo-text {
    font-size: 17px;
    margin-bottom: 40px;
  }

  .section__descr {
    &:before {
      top: 45px;
    }
    &:after {
      top: 20px;
    }
  }

  .skills__item {
    @include span(10);
    margin-left: span(1) !important;
    margin-right: 0 !important;
  }

  .tilted {
    bottom: 120px;
  }

  .team {
    .tilted {
      bottom: 180px;
    }
  }

  .team__item {
    @include span(10);
    margin-left: span(1) !important;
    margin-right: 0 !important;
  }

  .services__item {
    @include span(11);
    margin-left: span(1) !important;
    margin-right: 0 !important;
  }
}

@include xs-phones { ///xs-phones 480
  .services__icon {
    @include span(2 of 6);
    margin-left: span(2 of 6) !important;
    margin-right: 0 !important;
    margin-bottom: gutter()*2;
    height: 90px;

    &:after {
      font-size: 60px;
    }
  }

  .services__info {
    @include span(10);
    margin-left: span(1) !important;
    margin-right: 0 !important;
  }

  .services__title, .services__descr {
    text-align: center;
  }

  .facts__item {
    @include span(9);
    margin-left: span(2) !important;
    margin-right: 0 !important;
  }
}