///adaptive

@include desktop { ///desktop 1200

  .work__info {
    font-size: 1em;
  }

}



@include laptop { ///laptops 992

  .container {
    width: 100%;
  }


  //header

  .nav {
    width: span(9);
  }


  //about

  .about {
    margin-bottom: 0;
  }

  .skills__item {
    @include gallery(6);
    margin-bottom: gutter()*4;
  }

  .tilted {
    bottom: 150px;
  }


  //team

  .team__item {
    @include gallery(6);
  }


  //services

  .services__list {
    margin-left: span(2 wide);
  }

  .services__item {
    @include gallery (8 of 10);

    &:nth-child(n) {
      clear: both;
    }
  }


  //work

  .work__descr {
    font-size: 0.8em;
  }

  .work__link {
    font-size: 1em;
  }


  //prices

  .prices__list {
    width: span(10);
    margin-left: span(1 wide);
  }

  .prices__item {
    @include gallery(6);
    margin-bottom: gutter()*4;
  }

}

@include tablets { ///tablets 768

  //header

  .nav {
    width: span(11);
  }


  //about

  .section__title-wrap {
    width: span(12);
    text-align: center;
  }

  .section__descr {
    width: span(9);
  }

  .tilted {
    bottom: 140px;
  }


  //services

  .services__list {
    margin-left: span(2 wide);
  }

  .services__item {
    @include gallery (9 of 10);

    &:nth-child(n) {
      clear: both;
    }
  }

  .facts__item {
    @include gallery(6);
    margin-bottom: gutter()*6;
  }

  //work

  .work__descr {
    display: none;
  }

  .work__title {
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  .work__link {
    font-size: 1em;
  }


  //prices

  .prices__list {
    width: span(12);
    margin: auto;
  }


  //testimonials

  .tech__list li {
    // @include gallery(6);
  }

}

@include phones { ///phones 568

  //header

  .logo {
    width: span(2);
  }

  .nav {
    width: span(10);
    padding-top: 0;
  }

  .nav li{
    @include gallery(6);
    margin-bottom: gutter();
  }

  .top-bar {
    margin-bottom: 40px;
  }

  .slogan, .logo-big {
    margin-bottom: 30px;
  }

  .promo-text {
    font-size: 17px;
    margin-bottom: 40px;
  }


  //about

  .section__descr {
    &:before {
      top: 45px;
    }
    &:after {
      top: 20px;
    }
  }

  .skills__list {
    margin-left: span(1 wide);
  }

  .skills__item {
    @include gallery(10 of 11);
  }

  .tilted {
    bottom: 120px;
  }


  //team

  .team {
    .tilted {
      bottom: 180px;
    }
  }

  .team__list {
    @include span(10);
    margin-left: span(1 wide);
  }

  .team__item {
    @include gallery (10 of 10);

    &:nth-child(n) {
      clear: both;
    }
  }


  //services

  .services__list {
    margin-left: span(1 wide);
  }

  .services__item {
    @include gallery (11 of 11);

    &:nth-child(n) {
      clear: both;
    }
  }

  //work

  .work__title {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .work__link {
    font-size: 0.8em;
  }


  //prices

  .prices__list {
    width: span(10);
    margin-left: span(1 wide);
  }

  .prices__item {
    @include gallery(10 of 10);

    &:nth-child(n) {
    clear: both;
    }
  }


  //testimonials

  .tech__list {
    margin-bottom: 30px;

    & li {
      @include gallery(6);
    }
  }

  .clients__list {
    width: span(8);
    margin-left: span(2 wide);
  }

  .clients__item {
    @include gallery(8 of 8);

    &:nth-child(n) {
    clear: both;
    }
  }

}

@include xs-phones { ///xs-phones 480

  //services

  .services__icon {

    @include span(2 of 6 wide);
    margin-left: span(2 of 6) !important;
    margin-right: 0 !important;
    margin-bottom: gutter()*2;
    height: 90px;

    &:after {
      font-size: 60px;
    }
  }

  .services__info {
    @include span(10);
    margin-left: span(1 wide) !important;
    margin-right: 0 !important;
  }

  .services__title, .services__descr {
    text-align: center;
  }

  .facts__item {
    @include gallery(12 of 12);

    &:nth-child(n) {
      clear: both;
    }
  }


  //work

  .work__title {
    display: none;
  }

  .work__link {
    font-size: 1em;
  }


  //socials

  .socials__descr {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .socials__follow {
    font-size: 20px;
  }

}