/*vars*/
$container-width: 960px;
$footer-height: 125px;

$susy: (columns: 12,
  gutters: 0.25,
  math: fluid,
  global-box-sizing: border-box,
  output: float,
  container: 960px,
  // gutter-position: split,

  debug: (
    image: show-columns,
    color: rgba(#66f, .25), // менять цвет у колонок
    output: overlay, // есть еще вариант overlay, в котором колонки показываются только при наведении
    toggle: top right, // положение переключателя для показа оверлея
  ),
);

$tablets-layout: layout(6 .2 fluid float);

/*colors*/
$bg-color: #eee;
$grey: #666;
$blue: #0cf;
$orange: #f90;




/*layout*/
@import "_adjust/fonts.scss";
@import "../bower/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');
@import "additional/font-awesome.css";
@import "_adjust/mixins.scss";
@import "_adjust/adjustment.scss";
@import "susy";

/*styles*/
@import "header.scss";
@import "about.scss";
@import "team.scss";
@import "services.scss";
@import "work.scss";
@import "socials.scss";
@import "slider.scss";
@import "prices.scss";
@import "testimonials.scss";
@import "contacts.scss";
@import "footer.scss";
@import "adaptive.scss";











