///section Socials

.socials {
  background: url("../images/socials-bg.png") center top no-repeat;
  background-size: cover;
  padding-top: 210px;
  min-height: 830px;
  position: relative;
  margin-bottom: 100px;
}

