///section Team

.team {
  background: url("../images/team-bg.png") center top no-repeat;
  background-size: cover;
  padding-top: 210px;
  min-height: 1080px;
  position: relative;
  margin-bottom: 100px;

  .section__title-second, .section__title-add, .section__descr {
    color: #fff;
  }

  .section__header {
    margin-bottom: 120px;
  }
}

.team__list {
  @extend %clearfix;
  padding-bottom: 150px;
}

.team__item {
  @include gallery(3);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: gutter()*4;
}

.team__item-photo {
  margin-bottom: 20px;
  position: relative;
}

.team__item-image {
  max-width: 100%;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &.active {
    opacity: 0.1;
  }
}

.team__item-contacts {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  display: none;

  &.active {
    cursor: pointer;
    display: block;
  }
}

.team__item-name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.team__item-position {
  font-size: 12px;
  font-weight: 400;
  color: $blue;
  margin-bottom: 10px;
}

.team__item-descr {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.item-contacts__elem {
  display: inline-block;

  a:before {
    display: inline-block;
    color: #b1afad;
    font-size: 18px;
    font-weight: 400;
    font-family: 'FontAwesome';
    padding-left: 8px;
    padding-right: 8px;
    transition: color .3s
  }

  a:hover {
    &:before{
      color: $blue;
    }
  }
}

.item-contacts__elem_fb {
  a:before {
    content: "\f09a";
  }
}

.item-contacts__elem_tw {
  a:before {
    content: "\f099";
  }
}

.item-contacts__elem_in {
  a:before {
    content: "\f0e1";
  }
}

.item-contacts__elem_be {
  a:before {
    content: "\f1b4";
  }
}


